<div class="container">
 
    <h3>Edit Student Record</h3>
    
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="data.name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="age">Prenom</label>
            <input type="text" class="form-control" id="prenom" [(ngModel)]="data.prenom" placeholder="Enter Prenom">
        </div>
        <button type="submit" class="btn btn-success" (click)="update()">Update</button>
        <button type="submit" class="btn btn-warning ml-1" [routerLink]="[ '/list']">Cancel</button>
</div>
